@{
    ViewBag.Form = "Stock Movement Report";
    Layout = "~/Views/Shared/FormViewLayout2.cshtml";
}
<style>
    #display_loading {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, 50%);
        display: none;
    }
    button#btnExport {
        background-color: #00c0ef;
        border-color: #00acd6;
        margin-top: -6%;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
<form id="frm_productmovement" class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top:6px;padding-bottom:2px">
            <div class="row" style="padding-bottom:15px;padding-top:12px;">
                <div class="col-xs-4" style="display:none">
                    <div class=" form-group">
                        <label for="ic_code" class=" col-sm-5 control-label">Input Centre Name</label>
                        <div class=" col-sm-6">
                            <input type="text" id="ic_code" name="ic_code" class="form-control" maxlength="50" disabled>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="txtprod_name" class=" col-sm-4 control-label required" style="width: 121px;">Product Name</label>
                                <div class=" col-sm-6">
                                    @*<input type="text" id="txtprod_name" name="ic_code" class="form-control" style="width: 210px; margin-left: -22px;">*@
                                    <input type="hidden" id="txtprod_code" name="ic_code" class="form-control" disabled">
                                    <input id="cmb_prodname" name="txtprod_name"  data-role="filtercombo" onchange="ProductSearch()">
                                    @*<div style="margin-top: -29px;margin-left: 204px;">
                                            <a class="HelpWindow fa fa-search fa-lg" role="button" id="pay_help1" data-toggle="modal" href="/HelpFilter/HelpFilter" hdrtitle="Member" searchid="PAWHSNewProduct" data-target="#HelpModal" onclick=transfer(this,"form","","form_control"); title="Search" style="font-size: 19px; "></a>
                                            <span data-for='valid' class='k-invalid-msg'></span>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" style="margin-left: 68px;">
                            <div class="form-group">
                                <label for="txt_whs" class="col-sm-4 control-label">Warehouse</label>
                                <div class=" col-sm-6">
                                    <input type="text" id="txt_whs" value="Warehouse" name="ic_code" class="form-control" disabled>
                                    <input type="hidden" id="hdn_inputstring">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="txtcurrent_qty" class="col-sm-4 control-label" style="width: 140px;">Current Quantity</label>
                                <div class=" col-sm-6" style="width: 113px; margin-left: -18px;">
                                    <input type="text" id="txtcurrent_qty" name="txtcurrent_qty" class="form-control" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2" style="margin-left: 1031px; margin-top: -50px;">
                            <div class="form-group">
                                    </div>
                                </div>
                        <div class="row">
                            <button id="refresh" title="Refresh" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button"
                                    data-original-title="Refresh" onclick="listRefresh()">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                            <div id="display_loading" style="z-index: 999;"><img src="https://i.stack.imgur.com/rBLb3.gif" style="height:100px; width:100px;"></div>
                            <button id="clear" title="" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button"
                                    data-original-title="clear" onclick="listclear()" style="">
                                clear
                            </button>
                            <button id="btnExport" title="" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button" data-original-title="Export" style="background-color: #00c0ef ;border-color: #00acd6; margin-top:0%" ;>
                                @*<span class="glyphicon glyphicon-export"></span>*@
                                Export to Excel
                            </button>
                        </div>
                            </div>
                    <div class="row">
                    <div class="col-xs-12">
                        <div id="gd_productmoveregister">
                            <div id="productmovement_grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
<script src="~/CommonScripts/Common_func.js"></script>
<script src="~/CommonScripts/HelpFile.js"></script>
<script>
    click_act_name = "home ";
    click_ctrl_name = "home";
    form_list_url = '../' + click_ctrl_name + '/' + click_act_name;

</script>
<script>
    var menuId = "";
    var permission = "";
    $(document).ready(function () {

        Form_validate_Name = $('form.form-horizontal').attr('id');
        var container = $("#frm_productmovement");
        kendo.init(container);
        container.kendoValidator({
        });
        $("#Topsubheader").show();
        $("#bottomFooter").show();
        $("#bottom_menus").hide();
        $("#btndiv").show();
        $("#frmlayerdiv").hide();
        $("#divCreate").hide();
        $("#divEdit").hide();
        $("#divView").show();
        $("#DocStat").show();
        $(".edtviw_item").show();
        $(".create_item").hide();
        $('#btnExport').hide();
        $(".Export").attr("hdrtitle", "StockMovement Register List");
        $(".Export").attr("SubTreeId", "PAWHSSTOCKMOVEMENTCRPT");
        $("#RIform").hide();
        $("#FPOform").hide();
       
        var org_id = getlocalStorage('org_id');
        $('#ic_code').val(org_id);
        Screen_Id = "PAWHSSTOCKMOVEMENTCRPT";
        permission = sec_PermissionNew(Screen_Id);
        page_load_list_permission(permission);
        setlocalStorage("ls_pageList", "");
        var security = permission;
        console.log(security);
        if (security['print'] == true) {
            $("#btnExport").show();
        }
        else {
            $("#btnExport").hide();
        }
        $("#txt_fromdate").kendoDatePicker({
            max: new Date(),// sets max date
            format: "dd/MM/yyyy"
        });

        $("#txt_todate").kendoDatePicker({
            max: new Date(),// sets max date
            format: "dd/MM/yyyy"
        });

        var combo_data1 = "";
        var combo_data2 = "";
        $("#cmb_prdtcode").empty();
        var org_id = getlocalStorage('org_id');
        $("#ic_code").val(org_id);
        //combo_data1 = grid_comboScreen_mastercodes("PRODCTCODE");
        // filter_combobox("cmb_prdtcode", combo_data1);
        $("#cmb_prodname").empty();
        combo_data2 = grid_comboScreen_mastercodes("PRODCTNAME");
        filter_combobox("cmb_prodname", combo_data2);
        listgrid([]);

              /*  Prema added for fpo based abd ri user base loading*/
        var role = getlocalStorage("orgn_level");
        if (role == "ORG_FO") {
            debugger;
            $("#RIform").show();
            $("#FPOform").show();
            filter_combobox("cmb_RIBelongform", getlocalStorage("rilist"));
            filter_combobox("cmb_FPOBelongform", getlocalStorage("fpolist"));
            var cmb_riform3 = $("#cmb_RIBelongform").data("kendoComboBox");
            cmb_riform3.value(getlocalStorage("org_id"));
            $("#cmb_FPOBelongform").data("kendoComboBox").value("ALL");
            $("#cmb_RIBelongform").data("kendoComboBox").enable(false);
            $("#cmb_FPOBelongform").data("kendoComboBox").enable(true);
            Alldropdownload();
            fpoload();
        }
        if (role == "ORG_PF") {
            debugger;
            $("#RIform").show();
            $("#FPOform").show();
            filter_combobox("cmb_RIBelongform", getlocalStorage("rilist"));
            $("#cmb_RIBelongform").data("kendoComboBox").value("ALL");
            filter_combobox("cmb_FPOBelongform", getlocalStorage("fpolist"));
            $("#cmb_FPOBelongform").data("kendoComboBox").value("ALL");
            $("#cmb_RIBelongform").data("kendoComboBox").enable(true);
            $("#cmb_FPOBelongform").data("kendoComboBox").enable(true);
            Alldropdownload();
            fpoload();
        }
        if (role == "ORG_FPO") {
            debugger;
            $("#RIform").show();
            $("#FPOform").show();
            filter_combobox("cmb_RIBelongform", getlocalStorage("rilist"));
            filter_combobox("cmb_FPOBelongform", getlocalStorage("fpolist"));
            var cmb_riform3 = $("#cmb_RIBelongform").data("kendoComboBox");
            cmb_riform3.value(getlocalStorage("parent_code"));
            $("#cmb_RIBelongform").data("kendoComboBox").enable(false);
            $("#cmb_FPOBelongform").data("kendoComboBox").enable(false);
            var cmap_inselform = $("#cmb_FPOBelongform").data("kendoComboBox");
            cmap_inselform.value(getlocalStorage("org_code"));
            //Alldropdownload();
            module = $("#cmb_FPOBelongform").data("kendoComboBox").value();
                var parent_code = $("#cmb_RIBelongform").data("kendoComboBox").value();
                var data = { In_agg_code: '', parent_code: parent_code, module: module };
            $.ajax({
         url: '@Url.Action("pawhs_productsearch_rpt", "PAWHSNEWReports")',
         type: "post",
        contentType: 'application/x-www-form-urlencoded',
            data: data,
            success: function (response) {
                debugger;
                if (response != null) {
                    debugger;
                    var itemArr = [];
                    for (var i = 0; i < response.length; i++) {
                        var list = {};
                        list.id = response[i].Out_orgn_rowid
                        list.code = response[i].Out_orgn_code;
                        list.desc = response[i].Out_orgn_desc;
                        itemArr.push(list);
                    }
                    filter_combobox("cmb_prodname", itemArr);
                }
                else {
                    $("#cmb_prodname").empty();
                }
            },
            error: function (er) {
                alert(er);
                console.log(er);
            }
            });
        }
        /*  prema ended*/
        $("#btnExport").kendoButton({
            click: function () {
                debugger;
                //$("#salesreport_grid").data("kendoGrid").saveAsExcel();
                ExportButtonClick();
            }
        });
        $("#cmb_RIBelongform").change(function () {
        debugger;
        $("#cmb_FPOBelongform").data("kendoComboBox").value("ALL");
             var selected_value = $(this).val();
        var data1 = { RI_Code: selected_value}
            $.ajax({
            url: '@Url.Action("GetFPOlistRIBASE", "Login")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: data1,
            success: function (response1) {
            debugger;
                var url_path = JSON.parse(response1);
                var itemArrFPO = [];
                for (var i = 0; i < url_path.Table.length; i++) {
                    var list = {};
                    list.id = url_path.Table[i].serial_number;
                    list.code = url_path.Table[i].dist_code;
                    list.desc = url_path.Table[i].Member_district_name;
                    itemArrFPO.push(list);
                }
                filter_combobox("cmb_FPOBelongform", itemArrFPO);
                Alldropdownload();
            },
                error: function (er)
                {
                alert(er)
                console.log(er)
                }
            });
    });
    });
    $(function () {
        debugger;
        $('#refresh').click(function () {
            debugger;
            var prod_code = $("#cmb_prodname").val();
            var org_id = $("#cmb_FPOBelongform").data("kendoComboBox").value();
            var parent_code = $("#cmb_RIBelongform").data("kendoComboBox").value();
            $('#refresh').hide();
            $("#btnExport").hide();
            $("#clear").hide();
            $("#display_loading").show();
            $(".panel-default").css("opacity", 0.2);
            setTimeout(function () {
                $(".panel-default").css("opacity", 1);
                $("#display_loading").css({ "display": "none" });
            }, 6000);
            var ABC = "Input";
            var InputString = ABC.concat(" ", "{", prod_code, ",", org_id, ",", parent_code,  "}");
            console.log(InputString);
            $("#hdn_inputstring").val(InputString);
            $.ajax({
                type: "POST",
                data: '{prod_code: "' + prod_code + '",orgid:"' + org_id + '",parent_code:"' + parent_code + '"}',
                url: "/PAWHSNEWReports/Product_Movement",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $("#display_loading").hide();
                    $('#refresh').show();
                    Screen_Id = "PAWHSSTOCKMOVEMENTCRPT";
                    permission = sec_PermissionNew(Screen_Id);
                    var security = permission;
                    console.log(security);
                    if (security['print'] == true) {
                        $("#btnExport").show();
                    }
                    else {
                        $("#btnExport").hide();
                    }
                    $("#clear").show();
                    listgrid(response);
                },
                error: function (er) {
                    $("#display_loading").hide();
                    $('#refresh').show();
                    $("#btnExport").show();
                    $("#clear").show();
                    alert(er)
                    console.log(er)
                }
            });
            return false;
        });
    });
    $("#cmb_FPOBelongform").change(function () {
        debugger;
        $("#cmb_filter").val("");
        var selected_value = $(this).val();
        var module = "";
        if (selected_value == "ALL") {
            var itemArr = [];
            var list = {};
            list.id = "ALL"
            list.code = "ALL"
            list.desc = "ALL"
            itemArr.push(list);
            filter_combobox("cmb_prodname", itemArr);
            $("#cmb_prodname").data("kendoComboBox").value("ALL");
        }
        else {
        module = $("#cmb_FPOBelongform").data("kendoComboBox").value();
                var parent_code = $("#cmb_RIBelongform").data("kendoComboBox").value();
                var data = { In_agg_code: '', parent_code: parent_code, module: module };
            $.ajax({
         url: '@Url.Action("pawhs_productsearch_rpt", "PAWHSNEWReports")',
         type: "post",
        contentType: 'application/x-www-form-urlencoded',
            data: data,
            success: function (response) {
                debugger;
                if (response != null) {
                    debugger;
                    var itemArr = [];
                    var list = {};
                    list.id = "ALL"
                    list.code = "ALL"
                    list.desc = "ALL"
                    itemArr.push(list);
                    for (var i = 0; i < response.length; i++) {
                        var list = {};
                        list.id = response[i].Out_orgn_rowid
                        list.code = response[i].Out_orgn_code;
                        list.desc = response[i].Out_orgn_desc;
                        itemArr.push(list);
                    }
                    filter_combobox("cmb_prodname", itemArr);
                }
                else {
                    $("#cmb_filter").empty();
                }
            },
            error: function (er) {
                alert(er);
                console.log(er);
                }
            });
        }
    });
    function Alldropdownload() {
        var itemArr = [];
        var list = {};
        list.id = "ALL"
        list.code = "ALL"
        list.desc = "ALL"
        itemArr.push(list);
        filter_combobox("cmb_prodname", itemArr);
        $("#cmb_prodname").data("kendoComboBox").value("ALL");
         @*module = $("#cmb_FPOBelongform").data("kendoComboBox").value();
                var parent_code = $("#cmb_RIBelongform").data("kendoComboBox").value();
                var data = { In_agg_code: '', parent_code: parent_code, module: module };
            $.ajax({
         url: '@Url.Action("pawhs_productsearch_rpt", "PAWHSNEWReports")',
         type: "post",
        contentType: 'application/x-www-form-urlencoded',
            data: data,
            success: function (response) {
                debugger;
                if (response != null) {
                    debugger;
                    var itemArr = [];
                    for (var i = 0; i < response.length; i++) {
                        var list = {};
                        list.id = response[i].Out_orgn_rowid
                        list.code = response[i].Out_orgn_code;
                        list.desc = response[i].Out_orgn_desc;
                        itemArr.push(list);
                    }
                    filter_combobox("cmb_prodname", itemArr);
                }
                else {
                    $("#cmb_filter").empty();
                }
            },
            error: function (er) {
                alert(er);
                console.log(er);
            }
            });*@
    };

           function fpoload() {
        var data = {};
            data.userId = getlocalStorage("User_Id_Value");
        var orgnid = $("#cmb_RIBelongform").data("kendoComboBox").value();
            var user_code = data.userId;
            var data1 = {User_code: user_code, orgn_code: orgnid}
            $.ajax({
            url: '@Url.Action("GetFPOlist", "Login")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: data1,
            success: function (response1) {
            debugger;
                var url_path = JSON.parse(response1);
                var itemArrFPO = [];
                for (var i = 0; i < url_path.Table.length; i++) {
                    var list = {};
                    list.id = url_path.Table[i].serial_number;
                    list.code = url_path.Table[i].dist_code;
                    list.desc = url_path.Table[i].Member_district_name;
                    itemArrFPO.push(list);
                }
                filter_combobox("cmb_FPOBelongform", itemArrFPO);
            },
                error: function (er)
                {
                alert(er)
                console.log(er)
                }
            });
    }
    function ProductSearch() {
        var prod_code = $("#cmb_prodname").val();
        var org_id = getlocalStorage('org_id');
        $.ajax({
            type: "POST",
            data: '{prod_code: "' + prod_code + '",orgid:"' + org_id + '"}',
            url: "/PAWHSNEWReports/Product_Movement",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                console.log(response)
                listgrid(response);
            },
            error: function (er) {
                alert(er)
                console.log(er)
            }
        });
    }
</script>


<script>
    function listpageloadfetch() {
        try {

            var formval = form_Serialize("frm_productmovement");
            var obj_val = JSON.parse(formval);
            obj_val.FilterBy_Option = "ALL";
            obj_val.FilterBy_Code = ".";
            if (getlocalStorage('flt_condition') != undefined && getlocalStorage('flt_condition') != "") {
                obj_val.FilterBy_Fromvalue = getlocalStorage('flt_condition');
            }
            else {
                obj_val.FilterBy_Fromvalue = ".";
            }
            obj_val.FilterBy_Tovalue = ".";
            if (obj_val.status_option == "" || obj_val.status_option == undefined) {
                obj_val.status_option = "V";
            }

            var data = {};
            data.context = WebAPIProxy.getContext();
            data.context.Filter = obj_val;
            var colCount = $("#productmovement_grid").find('.k-grid-header colgroup > col').length;
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function ExportButtonClick() {
        debugger
        var grid = $("#productmovement_grid").data("kendoGrid");
        if (grid.dataSource.total() == 0) {
            kendoAlert('No records available in the Grid to Export!!!');
        }
        else {
            grid.bind("excelExport", function (e) {
                debugger;
                e.workbook.fileName = "Product Movement Report.xlsx";
                var rows1 = e.workbook.sheets[0];
                var sheet = e.workbook.sheets[0];
                var grid = $("#productmovement_grid").data("kendoGrid");
                var data = $("#productmovement_grid").data("kendoGrid")._data;//grid.dataSource.data();
                var gridColumns = grid.columns;
                var columns = gridColumns.map(function (col) {
                    return {
                        value: col.title ? col.title : col.field,
                        autoWidth: true,
                        background: "#7a7a7a",
                        color: "#fff"
                    };
                });
                var rows = [{ cells: columns, type: "header" }];

                for (var i = 0; i < data.length; i++) {
                    var rowCells = [];
                    for (var j = 0; j < gridColumns.length; j++) {
                        var cellValue = data[i][gridColumns[j].field];
                        rowCells.push({ value: cellValue });
                    }
                    rows.push({ cells: rowCells, type: "data" });
                }
                sheet.rows = rows;
            });
             var InputString = $("#hdn_inputstring").val();
            var data = {};
            data.userId = getlocalStorage("User_Id_Value");
            var user_code = data.userId;
            var Report_Name = "PAWHS Stock Movement Report";
            var flag = 1;
            var data = { report_name: Report_Name, input_string: InputString, flag: flag, userid: user_code };
         $.ajax({
            url: '@Url.Action("ExportExcelDownload", "PAWHSNEWReports")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: data,
            success: function (response1) {
            debugger;
            if (response1 != null) {
                debugger;

            }

          },
         error: function (er) {
         alert(er)
        console.log(er)
        }
         });
            grid.saveAsExcel();
            kendoAlert('Exported Sucessfully');
        }
    }
    var status_Priority = [];
    function listgrid(data) {
        $("#productmovement_grid").kendoGrid({
            dataSource: {
                data: data,
                schema: {
                    model: {
                        fields: {
                            farmer_or_buyer: { type: "string", editable: false },
                            pickup_date: { type: "date", editable: false },
                            stock_in: { type: "number", editable: false },
                            stock_out: { type: "number", editable: false },
                            current_qty: { type: "number", editable: false },
                        }
                    }
                },
                aggregate: [{ field: "stock_in", aggregate: "sum" }, { field: "stock_out", aggregate: "sum" }],
                pageSize: 20
            },
            //toolbar: "<button type='button' id='Exportclick' class='k-grid-excel' style='display:none' href=''><span class='fa fa-file-excel-o' style='color: Black;'> &nbsp Export To Excel</span></button>",
            //excelExport: function (e) {
            //    var gd = $("#stockmovement_grid").data("kendoGrid");
            //    var len = gd.dataSource._data.length;
            //    var chkall = $('#chkall').is(':checked');
            //    var chkfilter = $('#chkfilter').is(':checked');
            //    var chktemp = $('#chktemp').is(':checked');
            //    var twokendobox = true;
            //    gd.dataSource.pageSize(len);
            //    if (e.sender.dataSource._data.length == len) {
            //        twokendobox = false;
            //        exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
            //    }
            //    else {
            //        exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
            //    }
            //    gd.dataSource.pageSize('20');
            //    return false;
            //},
            filterable: {
                enabled: true,
                //delay: 1500,
                //mode: "menu, row",
                //height: 200,
                //click: function (e) {
                //    var gd = $("#productmovement_grid").data("kendogrid");
                //    filter_row(gd);
                //}
            },
            resizable: true,
            //filterMenuInit: function (e) {
            //    var gd = $("#productmovement_grid").data("kendoGrid");
            //    filter_row(gd);
            //},
            dataBound: onDataBound,
            height: 450,
            scrollable: true,
            sortable: true,
            pageable: {
                refresh: false,
                pageSizes: true,
                previousNext: false,
                buttonCount: 8
            },
            columns: [
                {
                    field: "pickup_date",
                    title: "Purchase/Sale Date",
                    width: 100,
                    format: "{0:dd/MM/yyyy}",
                    filterable: {
                        extra: false,
                        operators: {
                            string: {
                                contains: "Contains"
                            }
                        },
                        cell: {
                            operator: "contains",
                            inputWidth: 1500,
                            format: "{0:dd-MM-yyyy}",
                        }
                    },
                },
                {
                    field: "farmer_or_buyer",
                    title: "Farmer/Buyer",
                    footerTemplate: "Total",
                    filterable: {
                        extra: false,
                        operators: {
                            string: {
                                contains: "Contains"
                            }
                        }
                    },
                    width: 100,

                },

                {
                    field: "stock_in",
                    title: "Stock In",
                    width: 100,
                    footerTemplate: "<div style='text-align:right'>#= kendo.toString(sum, '0.00') # </div>",
                    attributes: { style: "text-align:right;" },
                    editor: function (container, options) {
                        stock_in(container, options.field, '9', '2');
                    },
                    filterable: {
                        extra: false,
                        operators: {
                            string: {
                                contains: "Contains"
                            }
                        }
                    },
                },
                {
                    field: "stock_out",
                    title: "Stock Out",
                    width: 100,
                    footerTemplate: "<div style='text-align:right'>#= kendo.toString(sum, '0.00') # </div>",
                    attributes: { style: "text-align:right;" },
                    editor: function (container, options) {
                        stock_out(container, options.field, '9', '2');
                    },
                    filterable: {
                        extra: false,
                        operators: {
                            string: {
                                contains: "Contains"
                            }
                        }
                    },
                },
                {
                    field: "current_qty",
                    title: "Stock On Hand",
                    width: 100,
                    attributes: { style: "text-align:right;" },
                    editor: function (container, options) {
                        current_qty(container, options.field, '9', '2');
                    },
                    filterable: false,
                }
            ],
        });
    }
    function onDataBound(arg) {
        debugger;
        var datalength = arg.sender.dataSource.data().length;
        var totalsumin = 0;
        var totalsumout = 0;
        if (datalength > 0) {
            for (var i = 0; i < datalength; i++) {
                totalsumin += arg.sender.dataSource.data()[i].stock_in;
                totalsumout += arg.sender.dataSource.data()[i].stock_out;
            }
        }
        $("#txtcurrent_qty").val(totalsumin - totalsumout);
    }
</script>
<script>
    function listRefresh() {
        try {
            setlocalStorage('flt_condition', "");
            listpageloadfetch();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function listclear() {
        try {
            $("#cmb_prodname").val('');
            $("#txtcurrent_qty").val('0');
            listgrid([]);
            //$('#frm_productmovement').find('input:text').val('');
            //location.reload();
            var org_id = getlocalStorage('org_id');
            $('#ic_code').val(org_id);

        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function grid_control() {
        var control_Name = [
        ];
        return control_Name;
    }
    function form_control() {
        var control_Name = [

            { "dataCol": "product_name", "controlId": "txtprod_name", "type": "Text" },
            { "dataCol": "product_code", "controlId": "txtprod_code", "type": "Text" }
        ];
        return control_Name;
    }
    function trans_input_data() {
        var trans_coll = [
            { "trasfer": "Yes", "dataCol": "agg_code", "controlId": "ic_code", "grid_id": "", "grid_row_col": "" },
            { "trasfer": "Yes", "dataCol": "ProductName", "controlId": "cmb_prdtname", "grid_id": "", "grid_row_col": "farmer_code" },
            { "trasfer": "Yes", "dataCol": "ProductCode", "controlId": "cmb_prdtcode", "grid_id": "", "grid_row_col": "farmer_name" }
        ];
        return trans_coll;
    }
    function generate_Invoiceproduct_list(res) {
        var dataItem = $("#productmovement_grid").data("kendoGrid").dataSource.data()[0];

        dataItem.set("ProductName", res[0].product_name);
        dataItem.set("ProductCode", res[0].product_code);
    }
</script>
