@{ ViewBag.Form = "Purchase Entry Report";
    Layout = "~/Views/Shared/FormViewLayout2.cshtml"; }
<style>
    span.k-widget.k-datepicker.k-header.cusDate.k-input {
        background: #fff;
    }
    #display_loading {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, 50%);
        display: none;
    }
    button#btnExport {
        background-color: #00c0ef;
        border-color: #00acd6;
        margin-top: -6%;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
<form id="frm_PurchaseEntryreport" class="form-horizontal">
    <div class="panel panel-default" style="padding:15px">
        <div class="panel-body" style="padding-top:6px;padding-bottom:2px">
            <div class="row" style="padding-bottom:1px">

                <div class="row">
                    <div class="col-sm-3">
                        <label for="txt_fromdate" class="col-sm-4 control-label required">From Date</label>
                        <div class="col-sm-8">
                            <input class="cusDate" data-role='datepicker' id="txt_fromdate" onkeypress="return date_validate(event)" data-checkdate-msg="Enter Valid Date" name="From_date" style="width:100%" />
                            <span data-for='valid' class='k-invalid-msg'></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="txt_todate" class="col-sm-4 control-label required">To Date</label>
                        <div class="col-sm-8">
                            <input class="cusDate" data-role='datepicker' id="txt_todate" onkeypress="return date_validate(event)" data-checkdate-msg="Enter Valid Date" name="To_date" style="width:100%" />
                            <span data-for='valid' class='k-invalid-msg'></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="txtprod_name" class=" col-sm-4 control-label required">Crop name</label>
                            <div class=" col-sm-8">
                                <input type="hidden" id="txtprod_code" name="ic_code" class="form-control" disabled">
                                <input type="hidden" id="hdn_inputstring">

                                <input id="cmb_prodname" name="txtprod_name" data-role="filtercombo" onchange="ProductSearch()">
                            </div>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-top: 1px; margin-right: 5px;">
                        <button id="refresh" title="" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button" data-original-title="Refresh" onclick="listRefresh()" style=""><span class="glyphicon glyphicon-refresh"></span> </button>
                        <div id="display_loading" style="z-index: 999;"><img src="https://i.stack.imgur.com/rBLb3.gif" style="height:100px; width:100px;"></div>
                        <button id="clear" title="" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button" data-original-title="clear" onclick="listclear()" style="">clear</button>
                        <button id="btnExport" title="" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button" data-original-title="Export" style="background-color: #00c0ef ;border-color: #00acd6; margin-top:0%" ;>@*<span class="glyphicon glyphicon-export"></span>*@Export to Excel</button>
                    </div>
                    <div class="row">
                        <div id="PurchaseEntryreport_grid" style="width:98%; margin-left:13px; margin-top:65px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/CommonScripts/Common_func.js"></script>
<script>
    var menuId = "";
    var permission = "";
    $(document).ready(function () {
        debugger;
        Form_validate_Name = $('form.form-horizontal').attr('id');
        var container = $("#frm_PurchaseEntryreport");
        kendo.init(container);
        container.kendoValidator({
        });
        $("#Topsubheader").show();
        $("#bottomFooter").show();
        $("#bottom_menus").hide();
        $("#btndiv").show();
        $("#frmlayerdiv").hide();
        $("#divCreate").hide();
        $("#divEdit").hide();
        $("#divView").show();
        $("#DocStat").show();
        $(".edtviw_item").show();
        $(".create_item").hide();
        $("#pay_help1farm").hide();
        $("#pay_help1code").hide();
        $("#pay_help1name").hide();
        $('#btnExport').hide();

        $(".Export").attr("hdrtitle", "Purchase Entry Report");
        $(".Export").attr("SubTreeId", "PAWHSPURENTRPT");

        var org_id = getlocalStorage('org_id');
        $('#ic_code').val(org_id);
        Screen_Id = "PAWHSPURENTRPT";

        permission = sec_PermissionNew(Screen_Id);
        page_load_list_permission(permission);
        setlocalStorage("ls_pageList", "");
        var security = permission;
        console.log(security);
        if (security['print'] == true) {
            $("#btnExport").show();
        }
        else {
            $("#btnExport").hide();
        }
        $("#txt_fromdate").kendoDatePicker({
            max: new Date(),// sets max date
            format: "dd/MM/yyyy"
        });

        $("#txt_todate").kendoDatePicker({
            max: new Date(),// sets max date
            format: "dd/MM/yyyy"
        });

        $("#cmb_prodname").empty();
        combo_data2 = grid_comboScreen_mastercodes("PRODCTNAME");
        filter_combobox("cmb_prodname", combo_data2);

        $("#btnExport").kendoButton({
            click: function () {
                debugger;
                 var InputString = $("#hdn_inputstring").val();
            var data = {};
            data.userId = getlocalStorage("User_Id_Value");
            var user_code = data.userId;
            var Report_Name = "PAWHS Purchase Entry Report";
            var flag = 1;
            var data = { report_name: Report_Name, input_string: InputString, flag: flag, userid: user_code };
         $.ajax({
            url: '@Url.Action("ExportExcelDownload", "PAWHSNEWReports")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: data,
            success: function (response1) {
            debugger;
            if (response1 != null) {
                debugger;

            }

          },
         error: function (er) {
         alert(er)
        console.log(er)
        }
         });
                $("#grid1").data("kendoGrid").saveAsExcel();
                //ExportButtonClick();
            }
        });
        /*  listinwardsupplier([]);*/
        var org = getlocalStorage('org_id');

        $('#txtagg_code').val(org);


        /*  Prema added for fpo based abd ri user base loading*/
        var role = getlocalStorage("orgn_level");
        if (role == "ORG_FO") {
            debugger;
            $("#RIform").show();
            $("#FPOform").show();
            filter_combobox("cmb_RIBelongform", getlocalStorage("rilist"));
            filter_combobox("cmb_FPOBelongform", getlocalStorage("fpolist"));
            var cmb_riform3 = $("#cmb_RIBelongform").data("kendoComboBox");
            cmb_riform3.value(getlocalStorage("org_id"));
            $("#cmb_RIBelongform").data("kendoComboBox").enable(false);
            $("#cmb_FPOBelongform").data("kendoComboBox").value("All");
            $("#cmb_FPOBelongform").data("kendoComboBox").enable(true);
            fpoload();
            Alldropdownload();
        }
        if (role == "ORG_PF") {
            debugger;
            $("#RIform").show();
            $("#FPOform").show();
            filter_combobox("cmb_RIBelongform", getlocalStorage("rilist"));
            $("#cmb_RIBelongform").data("kendoComboBox").value("ALL");
            filter_combobox("cmb_FPOBelongform", getlocalStorage("fpolist"));
            $("#cmb_FPOBelongform").data("kendoComboBox").value("ALL");
            $("#cmb_RIBelongform").data("kendoComboBox").enable(true);
            $("#cmb_FPOBelongform").data("kendoComboBox").enable(true);
            fpoload();
            Alldropdownload();
        }
        if (role == "ORG_FPO") {
            debugger;
            $("#RIform").show();
            $("#FPOform").show();
            filter_combobox("cmb_RIBelongform", getlocalStorage("rilist"));
            filter_combobox("cmb_FPOBelongform", getlocalStorage("fpolist"));
            var cmb_riform3 = $("#cmb_RIBelongform").data("kendoComboBox");
            cmb_riform3.value(getlocalStorage("parent_code"));
            $("#cmb_RIBelongform").data("kendoComboBox").enable(false);
            $("#cmb_FPOBelongform").data("kendoComboBox").enable(false);
            var cmap_inselform = $("#cmb_FPOBelongform").data("kendoComboBox");
            cmap_inselform.value(getlocalStorage("org_code"));
            module = $("#cmb_FPOBelongform").data("kendoComboBox").value();
                var parent_code = $("#cmb_RIBelongform").data("kendoComboBox").value();
                var data = { In_agg_code: '', parent_code: parent_code, module: module };
            $.ajax({
         url: '@Url.Action("pawhs_productsearch_rpt", "PAWHSNEWReports")',
         type: "post",
        contentType: 'application/x-www-form-urlencoded',
            data: data,
            success: function (response) {
                debugger;
                if (response != null) {
                    debugger;
                    var itemArr = [];
                    for (var i = 0; i < response.length; i++) {
                        var list = {};
                        list.id = response[i].Out_orgn_rowid
                        list.code = response[i].Out_orgn_code;
                        list.desc = response[i].Out_orgn_desc;
                        itemArr.push(list);
                    }
                    filter_combobox("cmb_prodname", itemArr);
                }
                else {
                    $("#cmb_prodname").empty();
                }
            },
            error: function (er) {
                alert(er);
                console.log(er);
            }
            });
        }
    });
        /*  prema ended*/

     $("#cmb_FPOBelongform").change(function () {
        debugger;
         $("#cmb_prodname").data("kendoComboBox").value("ALL");
        var selected_value = $(this).val();
        var module = "";
        if (selected_value == "ALL") {
            var itemArr = [];
            var list = {};
            list.id = "ALL"
            list.code = "ALL"
            list.desc = "ALL"
            itemArr.push(list);
            filter_combobox("cmb_prodname", itemArr);
            $("#cmb_prodname").data("kendoComboBox").value("ALL");
        }
        else {
        module = $("#cmb_FPOBelongform").data("kendoComboBox").value();
                var parent_code = $("#cmb_RIBelongform").data("kendoComboBox").value();
                var data = { In_agg_code: '', parent_code: parent_code, module: module };
            $.ajax({
         url: '@Url.Action("pawhs_productsearch_rpt", "PAWHSNEWReports")',
         type: "post",
        contentType: 'application/x-www-form-urlencoded',
            data: data,
            success: function (response) {
                debugger;
                if (response != null) {
                    debugger;
                    var itemArr = [];
                    var list = {};
                    list.id = "ALL"
                    list.code = "ALL"
                    list.desc = "ALL"
                    itemArr.push(list);
                    for (var i = 0; i < response.length; i++) {
                        var list = {};
                        list.id = response[i].Out_orgn_rowid
                        list.code = response[i].Out_orgn_code;
                        list.desc = response[i].Out_orgn_desc;
                        itemArr.push(list);
                    }
                    filter_combobox("cmb_prodname", itemArr);
                }
                else {
                    $("#cmb_filter").empty();
                }
            },
            error: function (er) {
                alert(er);
                console.log(er);
                }
            });
        }
     });
     $("#cmb_RIBelongform").change(function () {
        debugger;
             var selected_value = $(this).val();
             var data1 = { RI_Code: selected_value}
            $.ajax({
            url: '@Url.Action("GetFPOlistRIBASE", "Login")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: data1,
            success: function (response1) {
                debugger;
                $("#cmb_FPOBelongform").data("kendoComboBox").value("ALL");
                var url_path = JSON.parse(response1);
                var itemArrFPO = [];
                for (var i = 0; i < url_path.Table.length; i++) {
                    var list = {};
                    list.id = url_path.Table[i].serial_number;
                    list.code = url_path.Table[i].dist_code;
                    list.desc = url_path.Table[i].Member_district_name;
                    itemArrFPO.push(list);
                }
                filter_combobox("cmb_FPOBelongform", itemArrFPO);
                Alldropdownload();
            },
                error: function (er)
                {
                alert(er)
                console.log(er)
                }
            });
     });
    function Alldropdownload() {
        var itemArr = [];
        var list = {};
        list.id = "ALL"
        list.code = "ALL"
        list.desc = "ALL"
        itemArr.push(list);
        filter_combobox("cmb_prodname", itemArr);
        $("#cmb_prodname").data("kendoComboBox").value("ALL");
    };

 function fpoload() {
        var data = {};
            data.userId = getlocalStorage("User_Id_Value");
        var orgnid = $("#cmb_RIBelongform").data("kendoComboBox").value();
            var user_code = data.userId;
            var data1 = {User_code: user_code, orgn_code: orgnid}
            $.ajax({
            url: '@Url.Action("GetFPOlist", "Login")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: data1,
            success: function (response1) {
            debugger;
                var url_path = JSON.parse(response1);
                var itemArrFPO = [];
                for (var i = 0; i < url_path.Table.length; i++) {
                    var list = {};
                    list.id = url_path.Table[i].serial_number;
                    list.code = url_path.Table[i].dist_code;
                    list.desc = url_path.Table[i].Member_district_name;
                    itemArrFPO.push(list);
                }
                filter_combobox("cmb_FPOBelongform", itemArrFPO);
            },
                error: function (er)
                {
                alert(er)
                console.log(er)
                }
            });
    }
    function ProductSearch() {
        var prod_code = $("#cmb_prodname").val();
        var org_id = getlocalStorage('org_id');
        $.ajax({
            type: "POST",
            data: '{prod_code: "' + prod_code + '",orgid:"' + org_id + '"}',
            url: "/PAWHSNEWReports/Product_Movement",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                console.log(response)
                listgrid(response);
            },
            error: function (er) {
                alert(er)
                console.log(er)
            }
        });
    }

</script>
<script>
    function listRefresh() {
        if ($("#txt_fromdate").val() == "") {
            kendoAlert('Please Fill From Date Field.!!');
            return false;
        }
        if ($("#txt_todate").val() == "") {
            kendoAlert('Please Fill To Date Field.!!');
            return false;
        }

        if ($("#txt_fromdate").val() != "" && $("#txt_todate").val() != "") {
            debugger;
            var from_date1 = $("#txt_fromdate").val();
            var to_date1 = $("#txt_todate").val();
            var parts = from_date1.split('/');
            var from_date = parts[2] + '-' + parts[1] + '-' + parts[0];
            var parts1 = to_date1.split('/');
            var to_date = parts1[2] + '-' + parts1[1] + '-' + parts1[0];
            var org_id = $("#cmb_FPOBelongform").data("kendoComboBox").value();
            var parent_code = $("#cmb_RIBelongform").data("kendoComboBox").value();
            var fpo = $("#cmb_FPOBelongform").data("kendoComboBox").value();
            var user_code = getlocalStorage("User_Id_Value");
            var crop = $("#cmb_prodname").data("kendoComboBox").value();
            $('#refresh').hide();
            $("#btnExport").hide();
            $("#clear").hide();
            $("#display_loading").show();
            $(".panel-default").css("opacity", 0.2);
            setTimeout(function () {
                $(".panel-default").css("opacity", 1);
                $("#display_loading").css({ "display": "none" });
            }, 6000);
            var ABC = "Input";
            var InputString = ABC.concat(" ", "{", from_date, ",", to_date, ",", org_id, ",", fpo, ",", parent_code, ",", user_code, ",", crop, "}");
            console.log(InputString);
            $("#hdn_inputstring").val(InputString);
            $.ajax({
                type: "POST",
                data: '{fromdate:"' + from_date + '",todate:"' + to_date + '",orgid:"' + org_id + '",fpo:"' + fpo + '",parent_code:"' + parent_code + '",User:"' + user_code + '",cropname:"'+ crop +'"}',
                url: "/PAWHSNEWReports/PurchaseEntryReport",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $("#display_loading").hide();
                    $('#refresh').show();
                    Screen_Id = "PAWHSPURENTRPT";

                    permission = sec_PermissionNew(Screen_Id);
                    var security = permission;
                    console.log(security);
                    if (security['print'] == true) {
                        $("#btnExport").show();
                    }
                    else {
                        $("#btnExport").hide();
                    }
                    $("#clear").show();
                    listPurchase(response);

                    if (response.length == 0) {
                        kendoAlert('No Records found');
                    }
                },
                error: function (er) {
                    $("#display_loading").hide();
                    $('#refresh').show();
                    $("#btnExport").show();
                    $("#clear").show();
                    alert(er)
                    console.log(er)
                }
            });
        }
    }
    function listpageloadfetch() {
        try {
            var formval = form_Serialize("frm_PurchaseEntryreport");
            var obj_val = JSON.parse(formval);
            obj_val.FilterBy_Option = "ALL";
            obj_val.FilterBy_Code = ".";
            if (getlocalStorage('flt_condition') != undefined && getlocalStorage('flt_condition') != "") {
                obj_val.FilterBy_Fromvalue = getlocalStorage('flt_condition');
            }
            else {
                obj_val.FilterBy_Fromvalue = ".";
            }
            obj_val.FilterBy_Tovalue = ".";
            if (obj_val.status_option == "" || obj_val.status_option == undefined) {
                obj_val.status_option = "V";
            }

            var data = {};
            data.context = getContext();
            data.context.Filter = obj_val;
            var colCount = $("#PurchaseEntryreport_grid").find('.k-grid-header colgroup > col').length;
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
   
</script>

<script>
    function listPurchase(Data1) {

        try {
            $('#lblprog').hide();
            $('#refresh').show();
            $("#exportExcel").show();
            var columns = [];
            var chkval = Data1;
            var data = Data1;
            var i = 0;

            var entryIndex = "entries[" + i + "]";
            for (var key in data[0]) {
                debugger;
                var propType = typeof data[0][key];

                if (key == "FPO Name" || key == "ICD Name" || key == "Supplier Name") {
                    columns.push({
                        field: entryIndex,
                        title: key,
                        type: propType,
                        width: 225,
                        attributes: { style: "text-align: center;" },
                        filterable: true,
                    });
                }
                if (propType == "number") {
                    if (key != "" && key != "FPO Name" && key != "ICD Name" && key != "Supplier Name") {
                        columns.push({
                            field: entryIndex,
                            title: key,
                            type: propType,
                            width: 140,
                            attributes: { style: "text-align: right;" },
                            filterable: true,
                        });
                    }
                } else if (key != "" && key != "FPO Name" && key != "ICD Name" && key != "Supplier Name") {
                    columns.push({
                        field: entryIndex,
                        title: key,
                        type: propType,
                        width: 140,
                        attributes: { style: "text-align: center;" },
                        filterable: true,
                    });
                }

                i = i + 1;
                entryIndex = "entries[" + i + "]";
            }
            debugger;
            var rows = [];
            var data1 = Data1;

            $.each(data1, function (i, e) {
                var entryArray = [];
                $.each(e, function (key, val) {
                    entryArray.push(val);
                });
                rows.push(kendo.observable({
                    entries: entryArray
                }));
            });
            var viewModel = kendo.observable({
                gridRows: rows

            });
            var configuration = {
                height: 450,
                navigatable: true,
                groupable: false,
                editable: false,
                sortable: true,
                scrollable: true,
                attributes: { style: "text-align: center;" },
                filterable: {
                    extra: false,
                    operators: {
                        string: {
                            contains: "Contains"
                        }
                    }
                },
                pageable: {
                    refresh: false,
                    pageSize: 100,
                    buttonCount: 5,
                    pageSizes: [100, 200, 500, 2000, "All"]
                },
                //pageSize: 100,
                resizable: true,
                persistSelection: true,
                selectable: "false",
                columns: columns,

                excel: {
                    fileName: "PurchaseEntryReport.xlsx",
                    filterable: true,
                    allPages: true

                },
                rows: viewModel
            };
            $("#example").remove();
            $('#PurchaseEntryreport_grid').append('<div id="example" style="position:relative;" class="k-content"><table id="grid1"  data-bind="source: gridRows" style="position:relative;overflow:scroll;width:100%"></table></div>');
            var timeEditGrid = $("#grid1").kendoGrid(configuration).data("kendoGrid");
            kendo.bind($("#grid1"), viewModel);           
        }
        catch (err) {
            alert(err);
        }
    }
</script>

<script>
    function listclear() {
        try {            
            listPurchase([]);
            $('#frm_PurchaseEntryreport').find('input:text').val('');

            var org_id = getlocalStorage('org_id');
            $('#ic_code').val(org_id);
            var role = getlocalStorage("orgn_level");
            if (role == "ORG_PF") {
                $("#cmb_RIBelongform").data("kendoComboBox").value("ALL");
                $("#cmb_FPOBelongform").data("kendoComboBox").value("ALL");
            }
            $("#cmb_prodname").data("kendoComboBox").value("ALL");
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>