@{
    ViewBag.Form = "Stock Position Report";
    Layout = "~/Views/Shared/FormViewLayout2.cshtml";
}
<style>
    span.k-widget.k-datepicker.k-header.cusDate.k-input {
        background: #fff;
    }
    #display_loading {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, 50%);
        display: none;
    }
    button#btnExport {
        background-color: #00c0ef;
        border-color: #00acd6;
        margin-top: -6%;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
<form id="frm_stockposition" class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top:6px;padding-bottom:2px">
            <div class="row" style="padding-bottom:15px">
                <div class="col-xs-4" style="display:none">
                    <div class=" form-group">
                        <label for="ic_code" class=" col-sm-5 control-label">Input Centre Name</label>
                        <div class=" col-sm-6">
                            <input type="text" id="ic_code" name="ic_code" class="form-control" maxlength="50" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="cmb_productcat" class="control-label required" style="margin-right:25px;margin-left:20px;">Product Category</label>
                            <input id="cmb_cat" name="cmb_cat" data-role="filtercombo" style="width:54%" />
                            <input type="hidden" id="hdn_inputstring">

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="cmb_Productsubcat" class="control-label required" style="margin-right:25px;margin-left:20px;">Product Sub-category</label>
                            <input id="cmb_subcat" name="cmb_subcat" data-role="filtercombo" style="width:54%" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="cmb_productname" class="control-label required" style="margin-right:25px;margin-left:20px;">Product Name</label>

                            <input id="cmb_prdnme" name="cmb_prdnme" data-role="filtercombo" style="width:54%" />

                        </div>
                    </div>
                    @*<div class="col-sm-4">
                        <div class="form-group">
                            <label for="cmb_Prdcde" class="col-sm-4 control-label">Product Code</label>
                            <div class="col-sm-6">
                                <input id="cmb_Prdcde" name="status_option" type="text"  style="width:100%" disabled />
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="row" style="padding-bottom:15px">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label for="txt_todate" class="col-sm-4 control-label required">As on Date</label>
                        <div class="col-sm-8">
                            <input class="cusDate" data-role='datepicker' id="txt_todate" onkeypress="return date_validate(event)" data-checkdate-msg="Enter Valid Date" name="To_date" style="width:100%" />
                            <span data-for='valid' class='k-invalid-msg'></span>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-top: -2px; margin-right: 15px">
                        <button id="refresh" title="" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button"
                                data-original-title="Refresh" onclick="listRefresh()">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <div id="display_loading" style="z-index: 999;"><img src="https://i.stack.imgur.com/rBLb3.gif" style="height:100px; width:100px;"></div>
                        <button id="clear" title="" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button"
                                data-original-title="clear" onclick="listclear()">
                            clear
                        </button>
                        <button id="btnExport" title="" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button" data-original-title="Export" style="background-color: #00c0ef ;border-color: #00acd6; margin-top:0%" ;>
                            @*<span class="glyphicon glyphicon-refresh"></span>*@
                            Export to Excel
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" style="padding-top: 10px;">
                            <div id="gd_stockpositionreport">
                                <div id="StockPositionReport_grid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/CommonScripts/Common_func.js"></script>
<script src="~/CommonScripts/HelpFile.js"></script>

<script>
    click_act_name = "home ";
    click_ctrl_name = "home";
    form_list_url = '../' + click_ctrl_name + '/' + click_act_name;
</script>
<script>
    var menuId = "";
    var permission = "";
    $(document).ready(function () {
        Form_validate_Name = $('form.form-horizontal').attr('id');
        var container = $("#frm_stockposition");
        kendo.init(container);
        container.kendoValidator({
        });
        $("#Topsubheader").show();
        $("#bottomFooter").show();
        $("#bottom_menus").hide();
        $("#btndiv").show();
        $("#frmlayerdiv").hide();
        $("#divCreate").hide();
        $("#divEdit").hide();
        $("#divView").show();
        $("#DocStat").show();
        $(".edtviw_item").show();
        $(".create_item").hide();
        $('#btnExport').hide();
        $(".Export").attr("hdrtitle", " StockPosition Report List");
        $(".Export").attr("SubTreeId", "ICDSPCRPT");

       
       // load_master_code();
        var org_id = getlocalStorage('org_id');
        $('#ic_code').val(org_id);
        Screen_Id = "ICDSPCRPT";
        permission = sec_PermissionNew(Screen_Id);
        page_load_list_permission(permission);
        setlocalStorage("ls_pageList", "");
        var security = permission;
        console.log(security);
        if (security['print'] == true) {
            $("#btnExport").show();
        }
        else {
            $("#btnExport").hide();
        }
        $("#txt_fromdate").kendoDatePicker({
            max: new Date(),// sets max date
            format: "dd/MM/yyyy"
        });

        $("#txt_todate").kendoDatePicker({
            max: new Date(),// sets max date
            format: "dd/MM/yyyy"
        });
        /*  Prema added for fpo based abd ri user base loading*/
        var role = getlocalStorage("orgn_level");
        if (role == "ORG_FO") {
            debugger;
            $("#RIform").show();
            $("#FPOform").show();
            filter_combobox("cmb_RIBelongform", getlocalStorage("rilist"));
            filter_combobox("cmb_FPOBelongform", getlocalStorage("fpolist"));
            var cmb_riform3 = $("#cmb_RIBelongform").data("kendoComboBox");
            cmb_riform3.value(getlocalStorage("org_id"));
            $("#cmb_RIBelongform").data("kendoComboBox").enable(false);
            $("#cmb_FPOBelongform").data("kendoComboBox").value("ALL");
            $("#cmb_FPOBelongform").data("kendoComboBox").enable(true);
            Alldropdownload();
        }
        if (role == "ORG_PF") {
            debugger;
            $("#RIform").show();
            $("#FPOform").show();
            filter_combobox("cmb_RIBelongform", getlocalStorage("rilist"));
            $("#cmb_RIBelongform").data("kendoComboBox").value("ALL");
            filter_combobox("cmb_FPOBelongform", getlocalStorage("fpolist"));
            $("#cmb_FPOBelongform").data("kendoComboBox").value("ALL");
            $("#cmb_RIBelongform").data("kendoComboBox").enable(true);
            $("#cmb_FPOBelongform").data("kendoComboBox").enable(true);
            fpoload();
            Alldropdownload();
        }
        if (role == "ORG_FPO") {
            debugger;
            $("#RIform").show();
            $("#FPOform").show();
            filter_combobox("cmb_RIBelongform", getlocalStorage("rilist"));
            filter_combobox("cmb_FPOBelongform", getlocalStorage("fpolist"));
            var cmb_riform3 = $("#cmb_RIBelongform").data("kendoComboBox");
            cmb_riform3.value(getlocalStorage("parent_code"));
            $("#cmb_RIBelongform").data("kendoComboBox").enable(false);
            $("#cmb_FPOBelongform").data("kendoComboBox").enable(false);
            var cmap_inselform = $("#cmb_FPOBelongform").data("kendoComboBox");
            cmap_inselform.value(getlocalStorage("org_code"));
            Alldropdownload();
        }
       $("#cmb_RIBelongform").change(function () {
              debugger;
             var selected_value = $(this).val();
             var data1 = { RI_Code: selected_value}
            $.ajax({
            url: '@Url.Action("GetFPOlistRIBASE", "Login")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: data1,
                success: function (response1) {
                    if (response1 != null) {
                        $("#cmb_FPOBelongform").val('');
                        $("#cmb_cat").val('');
                        $("#cmb_subcat").val('');
                        $("#cmb_prdnme").val('');
                        debugger;
                        var url_path = JSON.parse(response1);
                        var itemArrFPO = [];
                        for (var i = 0; i < url_path.Table.length; i++) {
                            var list = {};
                            list.id = url_path.Table[i].serial_number;
                            list.code = url_path.Table[i].dist_code;
                            list.desc = url_path.Table[i].Member_district_name;
                            itemArrFPO.push(list);
                        }
                        filter_combobox("cmb_FPOBelongform", itemArrFPO);
                    }
            },
                error: function (er)
                {
                alert(er)
                console.log(er)
                }
            });
                    listgrid([]);
       });
         function Alldropdownload() {
        load_master_code();
        var orgcode = $("#cmb_FPOBelongform").data("kendoComboBox").value();
        var parentcode = $("#cmb_RIBelongform").data("kendoComboBox").value();
        var selected_value = orgcode;
        var data = { fpo_code: selected_value, parent_code: parentcode };
                $.ajax({
            url: '@Url.Action("GetProductCategory", "ICDReports")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: data,
            success: function (response1) {
            debugger;
            if (response1 != null) {
                debugger;
                $("#cmb_cat").val('');
                $("#cmb_subcat").val('');
                $("#cmb_prdnme").val('');
                var url_path = JSON.parse(response1);
                var itemArr = [];
                for (var i = 0; i < url_path.length; i++) {
                    var list = {};
                    list.id = url_path[i].serial_number
                    list.code = url_path[i].product_catg_code;
                    list.desc = url_path[i].Product_Catory;
                    itemArr.push(list);
                }
                filter_combobox("cmb_cat", itemArr);
                listgrid([]);
            }
          },
         error: function (er) {
         alert(er)
        console.log(er)
        }
         });
    }
        $("#cmb_FPOBelongform").change(function () {
            debugger;
        var selected_value = $(this).val();
        var parentcode = $("#cmb_RIBelongform").data("kendoComboBox").value();
        var data = { fpo_code: selected_value, parent_code: parentcode };
         $.ajax({
            url: '@Url.Action("GetProductCategory", "ICDReports")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: data,
            success: function (response1) {
            debugger;
            if (response1 != null) {
                debugger;
                $("#cmb_cat").val('');
                $("#cmb_subcat").val('');
                $("#cmb_prdnme").val('');
                var url_path = JSON.parse(response1);
                var itemArr = [];
                for (var i = 0; i < url_path.length; i++) {
                    var list = {};
                    list.id = url_path[i].serial_number
                    list.code = url_path[i].product_catg_code;
                    list.desc = url_path[i].Product_Catory;
                    itemArr.push(list);
                }
                filter_combobox("cmb_cat", itemArr);
                listgrid([]);
            }
          },
         error: function (er) {
         alert(er)
        console.log(er)
        }
         });

        });
        $("#cmb_cat").change(function () {
            listgrid([]);
            $("#cmb_subcat").val("");
            $("#cmb_prdnme").val("");
        var fpo_code = $("#cmb_FPOBelongform").val()
        var selected_value = $(this).val();
            var parentcode = $("#cmb_RIBelongform").data("kendoComboBox").value();

        var data = { fpo_code: fpo_code, cat_code: selected_value, parent_code: parentcode  };
         $.ajax({
            url: '@Url.Action("GetProductSubCategory", "ICDReports")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: data,
            success: function (response1) {
                debugger;
                $("#cmb_subcat").val('');
                $("#cmb_prdnme").val('');
                if (response1 != null) {
                var url_path1 = JSON.parse(response1);
                var itemArr11 = [];
                    for (var j = 0; j < url_path1.Table.length; j++) {
                    var listProductSub = {};
                    listProductSub.id = url_path1.Table[j].serial_number
                        listProductSub.code = url_path1.Table[j].subcatg_code;
                    listProductSub.desc = url_path1.Table[j].Product_SubCatory
                    itemArr11.push(listProductSub);
                }
                    filter_combobox("cmb_subcat", itemArr11);
            }
          },
         error: function (er) {
         alert(er)
        console.log(er)
        }
         });
        });
        $("#cmb_subcat").change(function () {
            debugger;
        listgrid([]);
            var fpo_code = $("#cmb_FPOBelongform").data("kendoComboBox").value();
            var cat_code = $("#cmb_cat").val();
        var selected_value1 = $(this).val();
        var parentcode = $("#cmb_RIBelongform").data("kendoComboBox").value();
            var data1 = { fpo_code: fpo_code, cat_code: cat_code, subcat_code: selected_value1, parent_code: parentcode  };
         $.ajax({
            url: '@Url.Action("GetProductName", "ICDReports")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: data1,
            success: function (response1) {
            debugger;
                if (response1 != null) {
                    $("#cmb_prdnme").val('');
                var url_pathProduct = JSON.parse(response1);
                var itemArr1 = [];
                    for (var t = 0; t < url_pathProduct.Table.length; t++) {
                    var listproductname = {};
                        listproductname.id = url_pathProduct.Table[t].serial_number
                        listproductname.code = url_pathProduct.Table[t].Product_code;
                        listproductname.desc = url_pathProduct.Table[t].Product_name
                        itemArr1.push(listproductname);
                }
                    filter_combobox("cmb_prdnme", itemArr1);
            }
          },
         error: function (er) {
         alert(er)
        console.log(er)
        }
         });
    });
        /*  prema ended*/
        listgrid([]);
        $("#btnExport").kendoButton({
            click: function () {
                debugger;
                //$("#salesreport_grid").data("kendoGrid").saveAsExcel();
                ExportButtonClick();
            }
        })

        if (org_id == 'RIFPO') {
            $('#cmb_prdnme').val('All');
            $('#cmb_Prdcde').val('All');
            $('#ic_code').val('All');
        }
           function fpoload() {
        var data = {};
            data.userId = getlocalStorage("User_Id_Value");
        var orgnid = $("#cmb_RIBelongform").data("kendoComboBox").value();
            var user_code = data.userId;
            var data1 = {User_code: user_code, orgn_code: orgnid}
            $.ajax({
            url: '@Url.Action("GetFPOlist", "Login")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: data1,
            success: function (response1) {
            debugger;
                var url_path = JSON.parse(response1);
                var itemArrFPO = [];
                for (var i = 0; i < url_path.Table.length; i++) {
                    var list = {};
                    list.id = url_path.Table[i].serial_number;
                    list.code = url_path.Table[i].dist_code;
                    list.desc = url_path.Table[i].Member_district_name;
                    itemArrFPO.push(list);
                }
                filter_combobox("cmb_FPOBelongform", itemArrFPO);
            },
                error: function (er)
                {
                alert(er)
                console.log(er)
                }
            });
    }

    });

</script>
<script>
    function load_master_code() {
        debugger;

        var data = {};
        data.screen_Id = "ICDSPRPT";
        var tab_values = ajaxcall_param("/Home/screenId_mastercodelist", JSON.stringify(data));
    }
</script>

<script>
    $(function () {
        $('#refresh').click(function () {
            debugger;
            if ($("#cmb_cat").val() == "" || $("#cmb_cat").val() == "undefined") {
                kendoAlert('Please Fill Product Category Field.!!');
                return false;
            }
            if ($("#cmb_subcat").val() == "" || $("#cmb_subcat").val() == "undefined") {
                kendoAlert('Please Fill Product Sub-category Field.!!');
                return false;
            }

            if ($("#cmb_prdnme").val() == "" || $("#cmb_prdnme").val() == "undefined") {
                kendoAlert('Please Fill Product Name Field.!!');
                return false;
            }
            if ($("#txt_fromdate").val() == "") {
                kendoAlert('Please Fill From Date Field.!!');
                return false;
            }
            if ($("#txt_todate").val() == "") {
                kendoAlert('Please Fill To Date Field.!!');
                return false;
            }
            if ($("#cmb_prdnme").val() != "" || $("#cmb_cat").val() != "" || $("#cmb_subcat").val() != "" || $("#txt_fromdate").val() != "" || $("#txt_todate").val() != "") {
                var from_date1 = "01/01/2001";

                var to_date1 = $("#txt_todate").val();

                var parts = from_date1.split('/');
                var from_date = parts[2] + '-' + parts[1] + '-' + parts[0];

                var parts1 = to_date1.split('/');
                var to_date = parts1[2] + '-' + parts1[1] + '-' + parts1[0];

                var cmb_code = $('#cmb_prdnme').data("kendoComboBox").value();
                var cmb_name = $('#cmb_prdnme').data("kendoComboBox").value();
                var cmb_cat = $("#cmb_cat").data("kendoComboBox").value();
                var cmb_subcat = $('#cmb_subcat').data("kendoComboBox").value();
                var parent_code = $("#cmb_RIBelongform").data("kendoComboBox").value();
                var user_code = getlocalStorage("User_Id_Value");
                var org_id = $("#cmb_RIBelongform").data("kendoComboBox").value();
                var fpo = $("#cmb_FPOBelongform").data("kendoComboBox").value();
                console.log(fpo);
                $('#refresh').hide();
                $("#btnExport").hide();
                $("#clear").hide();
                $("#display_loading").show();
                $(".panel-default").css("opacity", 0.2);
                setTimeout(function () {
                    $(".panel-default").css("opacity", 1);
                    $("#display_loading").css({ "display": "none" });
                }, 8500);
                var ABC = "Input";
                var InputString = ABC.concat(" ", "{", cmb_code, ",", cmb_name, ",", cmb_cat, ",", cmb_subcat, ",", from_date, ",", to_date, ",", org_id, ",", fpo, ",", parent_code, ",", user_code, "}");
                console.log(InputString);
                $("#hdn_inputstring").val(InputString);
                $.ajax({
                    type: "POST",
                    data: '{pro_code: "' + cmb_code + '",pro_name:"' + cmb_name + '",cmb_cat:"' + cmb_cat + '",cmb_subcat:"' + cmb_subcat + '",fromdate:"' + from_date + '",todate:"' + to_date + '",orgid:"' + org_id + '",fpo:"' + fpo + '",parent_code:"' + parent_code + '",User:"' + user_code + '"}',
                    url: "/ICDReports/Stock_PositionReport",
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        $("#display_loading").hide();
                        $('#refresh').show();
                        Screen_Id = "ICDSPCRPT";
                        permission = sec_PermissionNew(Screen_Id);
                        page_load_list_permission(permission);
                        setlocalStorage("ls_pageList", "");
                        var security = permission;
                        console.log(security);
                        if (security['print'] == true) {
                            $("#btnExport").show();
                        }
                        else {
                            $("#btnExport").hide();
                        }
                        $("#clear").show();
                        console.log(response)
                        listgrid(response);
                        var farmergrid = $("#StockPositionReport_grid").data("kendoGrid");
                        farmergrid.dataSource.read();
                        var count = farmergrid.dataSource.total();
                        console.log(count);
                        if (count == 0) {
                            kendoAlert('No Records found');
                        }
                    },
                    error: function (er) {
                        $("#display_loading").hide();
                        $('#refresh').show();
                      //  $("#btnExport").show();
                        $("#clear").show();
                        console.log(er)
                    }

                });

            }
            else {
                kendoAlert('Please Select Any One Field');
            }

            return false;
        });
    });



    function listpageloadfetch() {
        debugger;
        try {
            var formval = form_Serialize("frm_stockposition");
            var obj_val = JSON.parse(formval);
            obj_val.FilterBy_Option = "ALL";
            obj_val.FilterBy_Code = ".";
            if (getlocalStorage('flt_condition') != undefined && getlocalStorage('flt_condition') != "") {
                obj_val.FilterBy_Fromvalue = getlocalStorage('flt_condition');
            }
            else {
                obj_val.FilterBy_Fromvalue = ".";
            }
            obj_val.FilterBy_Tovalue = ".";
            if (obj_val.status_option == "" || obj_val.status_option == undefined) {
                obj_val.status_option = "V";
            }

            var data = {};
            data.context = WebAPIProxy.getContext();
            data.context.Filter = obj_val;
            retrieve_FarmerLoanDisbursement_details(data);
            var colCount = $("#StockPositionReport_grid").find('.k-grid-header colgroup > col').length;

            //If There are no results place an indicator row
            if ($("#StockPositionReport_grid").data("kendoGrid").dataSource._view.length == 0) {
                $("#StockPositionReport_grid").find('.k-grid-content tbody')
                    .append('<tr class="kendo-data-row"><td colspan="' +
                        colCount +
                        '" style="text-align:center; padding-top:10px;background-color:#AFE4FA"><b> No pending records available for the selected status; please try later!!!</b></td></tr>');
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    function ExportButtonClick() {
        debugger
        var grid = $("#StockPositionReport_grid").data("kendoGrid");
        if (grid.dataSource.total() == 0) {
            kendoAlert('No records available in the Grid to Export!!!');
        }
        else {
            grid.bind("excelExport", function (e) {
                debugger;
                e.workbook.fileName = "Stock Position Report.xlsx";
                var rows1 = e.workbook.sheets[0];
                var sheet = e.workbook.sheets[0];
                var grid = $("#StockPositionReport_grid").data("kendoGrid");
                var data = grid.dataSource.data();
                var gridColumns = grid.columns;
                var columns = gridColumns.map(function (col) {
                    return {
                        value: col.title ? col.title : col.field,
                        autoWidth: true,
                        background: "#7a7a7a",
                        color: "#fff"
                    };
                });
                var rows = [{ cells: columns, type: "header" }];

                for (var i = 0; i < data.length; i++) {
                    var rowCells = [];
                    for (var j = 0; j < gridColumns.length; j++) {
                        var cellValue = data[i][gridColumns[j].field];
                        rowCells.push({ value: cellValue });
                    }
                    rows.push({ cells: rowCells, type: "data" });
                }
                sheet.rows = rows;
            });
             var InputString = $("#hdn_inputstring").val();
            var data = {};
            data.userId = getlocalStorage("User_Id_Value");
            var user_code = data.userId;
            var Report_Name = "Stock Position Report";
            var flag = 1;
            var data = { report_name: Report_Name, input_string: InputString, flag: flag, userid: user_code };
         $.ajax({
            url: '@Url.Action("ExportExcelDownload", "ICDReports")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: data,
            success: function (response1) {
            debugger;
            if (response1 != null) {
                debugger;

            }

          },
         error: function (er) {
         alert(er)
        console.log(er)
        }
         });
            grid.saveAsExcel();
            kendoAlert('Exported Sucessfully');
        }
    }

    var status_Priority = [];
    function listgrid(data) {
        $("#StockPositionReport_grid").kendoGrid({

            dataSource: {
                data: data,
                schema: {
                    model: {
                        fields: {
                            Date: { type: "date", editable: false },
                            ic_code: { type: "string", editable: false },
                            ic_name: { type: "string", editable: false },
                            product_catg_code: { type: "string", editable: false },
                            product_subcatg_code: { type: "string", editable: false },
                            product_code: { type: "string", editable: false },
                            product_name: { type: "string", editable: false },
                            qty: { type: "string", editable: false },


                        }
                    }
                },
                batch: true,
                pageSize: 15,
            },
            //toolbar: "<button type='button' id='Exportclick' class='k-grid-excel' style='display:none' href=''><span class='fa fa-file-excel-o' style='color: Black;'> &nbsp Export To Excel</span></button>",
            //excelExport: function (e) {
            //    var gd = $("#StockPositionReport_grid").data("kendoGrid");
            //    var len = gd.dataSource._data.length;
            //    var chkall = $('#chkall').is(':checked');
            //    var chkfilter = $('#chkfilter').is(':checked');
            //    var chktemp = $('#chktemp').is(':checked');
            //    var twokendobox = true;
            //    gd.dataSource.pageSize(len);
            //    if (e.sender.dataSource._data.length == len) {
            //        twokendobox = false;
            //        exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
            //    }
            //    else {
            //        exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
            //    }
            //    gd.dataSource.pageSize('10');
            //    return false;
            //},

            height: 450,
            sortable: true,
            selectable: true,
            resizable: true,
            selectable: "singl",   //  Grid Row Selection
            navigatable: true,
            groupable: false,
            pageable: {
                refresh: true,
                pageSizes: true,
                previousNext: false,
                buttonCount: 8
            },
            filterable: true,
            columns: [
                {
                    field: "Date",
                    title: "Date",
                    format: "{0:dd/MM/yyyy}",
                    width: 80,
                    filterable: {
                        extra: false,
                        operators: {
                            string: {
                                contains: "Contains"
                            }
                        },
                        cell: {
                            operator: "contains",
                            inputWidth: 1500,
                            format: "{0:dd-MM-yyyy}",
                        }
                    },
                },

                {
                    field: "ic_code",
                    title: "IC Center Code",
                    width: 60,
                    filterable: {
                        extra: false,
                        operators: {
                            string: {
                                contains: "Contains"
                            }
                        }
                    },
                },
                {
                    field: "ic_name",
                    title: "IC Center Name",
                    width: 180,
                    filterable: {
                        extra: false,
                        operators: {
                            string: {
                                contains: "Contains"
                            }
                        }
                    },
                },
                {
                    field: "product_catg_code",
                    title: "Product Category",
                    width: 100,
                    filterable: {
                        extra: false,
                        operators: {
                            string: {
                                contains: "Contains"
                            }
                        }
                    },

                },
                {
                    field: "product_subcatg_code",
                    title: "Product Subcategory",
                    width: 100,
                    filterable: {
                        extra: false,
                        operators: {
                            string: {
                                contains: "Contains"
                            }
                        }
                    },

                },
                {
                    field: "product_code",
                    title: "Product Code",
                    width: 80,
                    filterable: false,

                },

                {
                    field: "product_name",
                    title: "Product Name",
                    width: 80,
                    filterable: {
                        extra: false,
                        operators: {
                            string: {
                                contains: "Contains"
                            }
                        }
                    },

                },
                {
                    field: "uomtype_code",
                    title: "Uom Type",
                    width: 50,
                    filterable: false,

                },

                {
                    field: "current_qty",
                    title: "Current Quantity",
                    width: 80,
                    attributes: { style: "text-align:right;" },
                    filterable: false,
                },

            ],
            editable: false
        });

    }

</script>
<script>
    function fetch_product() {

        var cmb_code = $("#cmb_Prdcde").val();
        var cmb_name = $('#cmb_prdnme').val()
        var org_id = getlocalStorage('org_id');




        $.ajax({
            type: "POST",
            data: '{pro_code: "' + cmb_code + '",pro_name:"' + cmb_name + '",orgid:"' + org_id + '"}',
            url: "/ICDReports/Stock_PositionReport",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                console.log(response)
                listgrid(response);

            },
            error: function (er) {
                console.log(er)
            }

        });
    }
    function generate_FLDisbursementAdviceGen_list(res) {

        try {
            if (res != null) {
                var data = changedataType(res);
                $("#gd_stockpositionreport").empty();
                $("#gd_stockpositionreport").append("<div id='StockPositionReport_grid'></div>");
                listgrid(data);
            }
            else {
                listgrid([]);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function get_FLDisbursementAdviceGen_details() {
        try {
            var formval = form_Serialize("frm_stockposition");
            var obj_val = JSON.parse(formval);
            obj_val.FilterBy_Option = "ALL";
            obj_val.FilterBy_Code = ".";
            if (getlocalStorage('flt_condition') != undefined && getlocalStorage('flt_condition') != "") {
                obj_val.FilterBy_Fromvalue = getlocalStorage('flt_condition');
            }
            else {
                obj_val.FilterBy_Fromvalue = ".";
            }
            obj_val.FilterBy_Tovalue = ".";
            obj_val.status_option = "V";
            var data = {};
            data.context = WebAPIProxy.getContext();
            data.context.Filter = obj_val;
            retrieve_FarmerLoanDisbursement_details(data);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function listRefresh() {
        try {
            setlocalStorage('flt_condition', "");
            listpageloadfetch();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function listclear() {
        try {

            listgrid([]);

            $('#frm_stockposition').find('input:text').val('');
            //location.reload();
            var role = getlocalStorage("orgn_level");
            if (role == "ORG_PF") {
                $("#cmb_RIBelongform").data("kendoComboBox").value("");
                $("#cmb_FPOBelongform").data("kendoComboBox").value("");
            }
            var org_id = getlocalStorage('org_id');
            $('#ic_code').val(org_id);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function grid_control() {
        var control_Name = [

        ];
        return control_Name;
    }


    function form_control() {
        var control_Name = [

            { "dataCol": "ProductName", "controlId": "cmb_prdnme", "type": "Text" },
            { "dataCol": "ProductCode", "controlId": "cmb_Prdcde", "type": "Text" },

            { "dataCol": "product_category", "controlId": "cmb_cat", "type": "Text" },
            { "dataCol": "product_sub_category", "controlId": "cmb_subcat", "type": "Text" }



        ];
        return control_Name;
    }
    function trans_input_data() {
        var trans_coll = [
            { "trasfer": "Yes", "dataCol": "ic_code", "controlId": "", "grid_id": "", "grid_row_col": "" },
            { "trasfer": "Yes", "dataCol": "ProductName", "controlId": "cmb_prdnme", "grid_id": "", "grid_row_col": "farmer_code" },
            { "trasfer": "Yes", "dataCol": "ProductCode", "controlId": "cmb_Prdcde", "grid_id": "", "grid_row_col": "farmer_name" }
        ];
        return trans_coll;
    }
    function generate_Invoiceproduct_list(res) {
        var dataItem = $("#StockPositionReport_grid").data("kendoGrid").dataSource.data()[0];

        dataItem.set("ProductName", res[0].product_name);
        dataItem.set("ProductCode", res[0].product_code);

    }
</script>
