
@{
    ViewBag.Form = "Sales Returns Report";
    Layout = "~/Views/Shared/FormViewLayout2.cshtml";
}
<style>
    a.k-button.k-button-icontext.k-grid-Edit, a.k-button.k-button-icontext.k-grid-View, a.k-button.k-button-icontext.k-grid-Delete, a.k-button.k-button-icontext.k-grid-edit {
        background-color: #00c0ef;
        border-color: #00c0ef;
    }
    span.k-widget.k-datepicker.k-header.cusDate.k-input {
        background: #fff;
    }
    #display_loading {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, 50%);
        display: none;
    }
    button#btnExport {
        background-color: #00c0ef;
        border-color: #00acd6;
        margin-top: -6%;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
<form id="frm_SalesReturnreport" class="form-horizontal">
   
    <div class="panel panel-default" style="padding:15px">
        <div class="panel-body" style="padding-top:6px;padding-bottom:2px">
            <div class="row" style="padding-bottom:15px">

                <div class="row">
                    <div class="col-sm-3">
                        <label for="txt_fromdate" class="col-sm-4 control-label required">From Date</label>
                        <div class="col-sm-8">
                            <input class="cusDate" data-role='datepicker' id="txtStartDate" onkeypress="return date_validate(event)" data-checkdate-msg="Enter Valid Date" name="From_date" style="width:100%" />
                            <span data-for='valid' class='k-invalid-msg'></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="txt_todate" class="col-sm-4 control-label required">To Date</label>
                        <div class="col-sm-8">
                            <input class="cusDate" data-role='datepicker' id="txtEndDate" onkeypress="return date_validate(event)" data-checkdate-msg="Enter Valid Date" name="To_date" style="width:100%" />
                            <span data-for='valid' class='k-invalid-msg'></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="txt_mobile" class=" col-sm-4 control-label required">IC Name</label>
                            <div class=" col-sm-8">
                                <input id="cmb_icdfpocode" name="cmb_icdfpocode" style="width: 120%" data-role="filtercombo">
                                <input id="txtagg_code" type="hidden" />
                                <input type="hidden" id="hdn_inputstring">
                                @*<input id="txtic_code" type="hidden" />*@
                            </div>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-top: 1px; margin-right: 5px;">
                        <button id="refresh" title="" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button" data-original-title="Refresh">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <div id="display_loading" style="z-index: 999;"><img src="https://i.stack.imgur.com/rBLb3.gif" style="height:100px; width:100px;"></div>
                        <button id="clear" title="" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button"
                                data-original-title="clear" onclick="listclear()">
                            clear
                        </button>
                        <button id="btnExport" title="" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button" data-original-title="Export" style="background-color: #00c0ef ;border-color: #00acd6; margin-top:0%" ;>
                            @*<span class="glyphicon glyphicon-export"></span>*@
                            Export to Excel
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div id="icdrpt_grid" style="width:98%;margin-left:13px;"></div>
                </div>
            </div>
        </div>
    </div> 

</form>

<script src="~/CommonScripts/Common_func.js"></script>
<script src="~/CommonScripts/HelpFile.js"></script>
<script src="~/CommonScripts/ExportExcel.js"></script>

<script>
    click_act_name = "home ";
    click_ctrl_name = "home";
    form_list_url = '../' + click_ctrl_name + '/' + click_act_name;

</script>
<script>
    var menuId = "";
    var permission = "";
    $(document).ready(function () {
        debugger;
        Form_validate_Name = $('form.form-horizontal').attr('id');
        var container = $("#frm_SalesReturnreport");
        kendo.init(container);
        container.kendoValidator({
        });
        $("#Topsubheader").show();
        $("#bottomFooter").show();
        $("#bottom_menus").hide();
        $("#btndiv").show();
        $("#frmlayerdiv").hide();
        $("#divCreate").hide();
        $("#divEdit").hide();
        $("#divView").show();
        $("#DocStat").show();
        $(".edtviw_item").show();
        $(".create_item").hide();
        $('#btnExport').hide();

        $(".Export").attr("hdrtitle", "Farmer Invoice Receivables");
        $(".Export").attr("SubTreeId", "ICDSALRET");

        Screen_Id = "ICDSALRET";
        permission = sec_PermissionNew(Screen_Id);

        setlocalStorage("ls_pageList", "");
        var security = permission;
        console.log(security);
        if (security['print'] == true) {
            $("#btnExport").show();
        }
        else {
            $("#btnExport").hide();
        }

        $("#txtStartDate").kendoDatePicker({
            max: new Date(),// sets max date to Jan 1st, 2013
            format: "dd/MM/yyyy"
        });

        $("#btnExport").kendoButton({
            click: function () {
                debugger;
                 var InputString = $("#hdn_inputstring").val();
            var data = {};
            data.userId = getlocalStorage("User_Id_Value");
            var user_code = data.userId;
            var Report_Name = "Sales Return Report";
            var flag = 1;
            var data = { report_name: Report_Name, input_string: InputString, flag: flag, userid: user_code };
         $.ajax({
            url: '@Url.Action("ExportExcelDownload", "ICDInvoiceReport")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: data,
            success: function (response1) {
            debugger;
            if (response1 != null) {
                debugger;

            }

          },
         error: function (er) {
         alert(er)
        console.log(er)
        }
         });
                $("#grid1").data("kendoGrid").saveAsExcel();
                //ExportButtonClick();
            }
        });

        $("#txtEndDate").kendoDatePicker({
            max: new Date(),// sets max date to Jan 1st, 2013
            format: "dd/MM/yyyy"
        });
          var org = getlocalStorage('org_id');
        $('#txtagg_code').val(org);

    });
        /*  Prema added for fpo based abd ri user base loading*/
        var role = getlocalStorage("orgn_level");
    if (role == "ORG_FO") {
        debugger;
        $("#RIform").show();
        $("#FPOform").show();
        filter_combobox("cmb_RIBelongform", getlocalStorage("rilist"));
        filter_combobox("cmb_FPOBelongform", getlocalStorage("fpolist"));
        var cmb_riform3 = $("#cmb_RIBelongform").data("kendoComboBox");
        cmb_riform3.value(getlocalStorage("org_id"));
        $("#cmb_RIBelongform").data("kendoComboBox").enable(false);
        $("#cmb_FPOBelongform").data("kendoComboBox").value("All");
        $("#cmb_FPOBelongform").data("kendoComboBox").enable(true);
        fpoload();
    }
        if (role == "ORG_PF") {
            debugger;
            $("#RIform").show();
            $("#FPOform").show();
            filter_combobox("cmb_RIBelongform", getlocalStorage("rilist"));
            $("#cmb_RIBelongform").data("kendoComboBox").value("ALL");
            filter_combobox("cmb_FPOBelongform", getlocalStorage("fpolist"));
            $("#cmb_FPOBelongform").data("kendoComboBox").value("ALL");
            $("#cmb_RIBelongform").data("kendoComboBox").enable(true);
            $("#cmb_FPOBelongform").data("kendoComboBox").enable(true);
            fpoload();

        }
        if (role == "ORG_FPO") {
            debugger;
            $("#RIform").show();
            $("#FPOform").show();
            filter_combobox("cmb_RIBelongform", getlocalStorage("rilist"));
            filter_combobox("cmb_FPOBelongform", getlocalStorage("fpolist"));
            var cmb_riform3 = $("#cmb_RIBelongform").data("kendoComboBox");
            cmb_riform3.value(getlocalStorage("parent_code"));
            $("#cmb_RIBelongform").data("kendoComboBox").enable(false);
            $("#cmb_FPOBelongform").data("kendoComboBox").enable(false);
            var cmap_inselform = $("#cmb_FPOBelongform").data("kendoComboBox");
            cmap_inselform.value(getlocalStorage("org_code"));

              var parent_code = $("#cmb_RIBelongform").data("kendoComboBox").value();
            var selected_value = $("#cmb_FPOBelongform").data("kendoComboBox").value();
            module = "ICDRPT"
                var data = { In_agg_code: selected_value, parent_code: parent_code, module: module };
        $.ajax({
          url: '@Url.Action("lcdcenter_search_rpt", "ICDReports")',
         type: "post",
        contentType: 'application/x-www-form-urlencoded',
            data: data,
            success: function (response) {
                debugger;
                if (response != null) {
                    debugger;
                    var itemArr = [];
                    var list = {};
                    list.id = "ALL";
                    list.code = "ALL";
                    list.desc = "ALL";
                    itemArr.push(list);

                    for (var i = 0; i < response.length; i++) {
                        var list = {};
                        list.id = response[i].Out_orgn_rowid
                        list.code = response[i].Out_orgn_code;
                        list.desc = response[i].Out_orgn_desc;
                        itemArr.push(list);
                    }
                    filter_combobox("cmb_icdfpocode", itemArr);
                    $("#cmb_icdfpocode").data("kendoComboBox").value("ALL");
                }
                else {
                    $("#cmb_filter").empty();
                }
            },
            error: function (er) {
                alert(er);
                console.log(er);
            }
        });
        }
           $("#cmb_RIBelongform").change(function () {
               debugger;
               $("#cmb_FPOBelongform").val("");
               $("#cmb_icdfpocode").val("");
             var selected_value = $(this).val();
             var data1 = { RI_Code: selected_value}
            $.ajax({
            url: '@Url.Action("GetFPOlistRIBASE", "Login")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: data1,
            success: function (response1) {
            debugger;
                var url_path = JSON.parse(response1);
                var itemArrFPO = [];
                for (var i = 0; i < url_path.Table.length; i++) {
                    var list = {};
                    list.id = url_path.Table[i].serial_number;
                    list.code = url_path.Table[i].dist_code;
                    list.desc = url_path.Table[i].Member_district_name;
                    itemArrFPO.push(list);
                }
                filter_combobox("cmb_FPOBelongform", itemArrFPO);
            },
                error: function (er)
                {
                alert(er)
                console.log(er)
                }
            });
                var module = "";
            if (selected_value == "ALL") {
                module = "ALL";
            }
            else { module = "ICD" }
            var data = { In_agg_code: selected_value, module: module };
        $.ajax({
          url: '@Url.Action("lcdcenter_search", "Product")',
         type: "post",
        contentType: 'application/x-www-form-urlencoded',
            data: data,
            success: function (response) {
                debugger;
                if (response != null) {
                    debugger;
                    var itemArr = [];
                    for (var i = 0; i < response.length; i++) {
                        var list = {};
                        list.id = response[i].Out_orgn_rowid
                        list.code = response[i].Out_orgn_code;
                        list.desc = response[i].Out_orgn_desc;
                        itemArr.push(list);
                    }
                    filter_combobox("cmb_icdfpocode", itemArr);

                }
                else {
                    $("#cmb_icdfpocode").empty();
                }
            },
            error: function (er) {
                alert(er);
                console.log(er);
            }
        });

    });
        $("#cmb_FPOBelongform").change(function () {
            debugger;
            $("#cmb_icdfpocode").val("");
            var selected_value = $(this).val();
            var module = "";
            if (selected_value == "ALL") {
                var itemArr = [];
                var list = {};
                list.id = "ALL"
                list.code = "ALL"
                list.desc = "ALL"
                itemArr.push(list);
                filter_combobox("cmb_icdfpocode", itemArr);
                $("#cmb_icdfpocode").data("kendoComboBox").value("ALL");
            }
            else { module = "ICDRPT" }
            var data = { In_agg_code: selected_value, module: module };
        $.ajax({
          url: '@Url.Action("lcdcenter_search", "Product")',
         type: "post",
        contentType: 'application/x-www-form-urlencoded',
            data: data,
            success: function (response) {
                debugger;
                if (response != null) {
                    debugger;
                    var itemArr = [];
                    var list = {};
                    list.id = "ALL";
                    list.code = "ALL";
                    list.desc = "ALL";
                    itemArr.push(list);
                    for (var i = 0; i < response.length; i++) {
                        var list = {};
                        list.id = response[i].Out_orgn_rowid
                        list.code = response[i].Out_orgn_code;
                        list.desc = response[i].Out_orgn_desc;
                        itemArr.push(list);
                    }
                    filter_combobox("cmb_icdfpocode", itemArr);

                }
                else {
                    $("#cmb_icdfpocode").empty();
                }
            },
            error: function (er) {
                alert(er);
                console.log(er);
            }
        });
        });
    /*  prema ended*/
       function fpoload() {
        var data = {};
            data.userId = getlocalStorage("User_Id_Value");
        var orgnid = $("#cmb_RIBelongform").data("kendoComboBox").value();
            var user_code = data.userId;
            var data1 = {User_code: user_code, orgn_code: orgnid}
            $.ajax({
            url: '@Url.Action("GetFPOlist", "Login")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: data1,
            success: function (response1) {
            debugger;
                var url_path = JSON.parse(response1);
                var itemArrFPO = [];
                for (var i = 0; i < url_path.Table.length; i++) {
                    var list = {};
                    list.id = url_path.Table[i].serial_number;
                    list.code = url_path.Table[i].dist_code;
                    list.desc = url_path.Table[i].Member_district_name;
                    itemArrFPO.push(list);
                }
                filter_combobox("cmb_FPOBelongform", itemArrFPO);
            },
                error: function (er)
                {
                alert(er)
                console.log(er)
                }
            });
           var itemArr = [];
           var list = {};
           list.id = "ALL"
           list.code = "ALL"
           list.desc = "ALL"
           itemArr.push(list);
           filter_combobox("cmb_icdfpocode", itemArr);
           $("#cmb_icdfpocode").data("kendoComboBox").value("ALL");
    }

</script>

<script>
    $(function () {
        $('#refresh').click(function () {
            if ($("#txtStartDate").val() == "") {
                kendoAlert('Please Fill From Date Field.!!');
                return false;
            }
            if ($("#txtEndDate").val() == "") {
                kendoAlert('Please Fill To Date Field.!!');
                return false;
            }
            if ($("#cmb_icdfpocode").val() == "") {
                kendoAlert('Please Fill the IC Name.!!');
                return false;
            }
            if ($("#txt_fromdate").val() != "" && $("#txt_todate").val() != "") {
            debugger;
 
            var startdate = $("#txtStartDate").val();
            var enddate = $("#txtEndDate").val();
            var parts = startdate.split('/');
            var from_date = parts[2] + '-' + parts[1] + '-' + parts[0];
            var parts1 = enddate.split('/');
            var to_date = parts1[2] + '-' + parts1[1] + '-' + parts1[0];
            var org_id = $("#cmb_icdfpocode").val();
                var fpocode = $("#cmb_FPOBelongform").data("kendoComboBox").value()
                var parent_code = $("#cmb_RIBelongform").data("kendoComboBox").value();
                var user_code = getlocalStorage("User_Id_Value");
                $('#refresh').hide();
                $("#btnExport").hide();
                $("#clear").hide();
                $("#display_loading").show();
                $(".panel-default").css("opacity", 0.2);
                setTimeout(function () {
                    $(".panel-default").css("opacity", 1);
                    $("#display_loading").css({ "display": "none" });
                }, 7000);
                var ABC = "Input";
                var InputString = ABC.concat(" ", "{", from_date, ",", to_date, ",", org_id, ",", fpocode, ",", parent_code, ",", user_code, "}");
                console.log(InputString);
                $("#hdn_inputstring").val(InputString);
                var data = { In_StartDate: from_date, In_EndDate: to_date, In_ICCode: org_id, In_fpocode: fpocode, parent_code: parent_code, User: user_code };
            $.ajax({
                type: "POST",
                data: data,
                url: "/ICDInvoiceReport/Get_SalesReturnReport",
                dataType: "json",
                contentType: 'application/x-www-form-urlencoded',
                success: function (Data1) {
                   // $('#btnExport').show();
                    if (Data1.length == 0) {
                        kendoAlert('No Records found');
                    }
                    $("#display_loading").hide();
                    $('#refresh').show();
                    Screen_Id = "ICDSALRET";
                    permission = sec_PermissionNew(Screen_Id);
                    var security = permission;
                    console.log(security);
                    if (security['print'] == true) {
                        $("#btnExport").show();
                    }
                    else {
                        $("#btnExport").hide();
                    }
                    $("#clear").show();
                    $("#exportExcel").show();
                    var columns = [];
                    var chkval = Data1;
                    var data = Data1;
                    var i = 0;

                    var entryIndex = "entries[" + i + "]";
                    for (var key in data[0]) {
                        debugger;
                        var propType = typeof data[0][key];

                        if (key == "FPO Name" || key == "ICD Name") {
                            columns.push({
                                field: entryIndex,
                                title: key,
                                type: propType,
                                width: 210,
                                attributes: { style: "text-align: center;" },
                                filterable: true,
                            });
                        }

                        if (key != "" && key != "FPO Name" && key != "ICD Name" ) {
                            columns.push({
                                field: entryIndex,
                                title: key,
                                type: propType,
                                width: 140,
                                attributes: { style: "text-align: center;" },
                                filterable: true,
                            });
                        }

                        i = i + 1;
                        entryIndex = "entries[" + i + "]";
                    }
                    debugger;
                    var rows = [];
                    var data1 = Data1;

                    $.each(data1, function (i, e) {
                        var entryArray = [];
                        $.each(e, function (key, val) {
                            entryArray.push(val);
                        });
                        rows.push(kendo.observable({
                            entries: entryArray
                        }));
                    });
                    var viewModel = kendo.observable({
                        gridRows: rows

                    });
                    var configuration = {
                        height: 450,
                        navigatable: true,
                        groupable: false,
                        editable: false,
                        sortable: true,
                        scrollable: true,
                        attributes: { style: "text-align: center;" },
                        filterable: {
                            extra: false,
                            operators: {
                                string: {
                                    contains: "Contains"
                                }
                            }
                        },
                        pageable: {
                            refresh: false,
                            pageSize: 100,
                            buttonCount: 5,
                            pageSizes: [100, 200, 500, 2000, "All"]
                        },
                        // pageSize: 100,
                        resizable: true,
                        persistSelection: true,
                        selectable: "false",
                        columns: columns,
                        //toolbar: ["excel"],
                        excel: {
                            fileName: "ICD Sales Returns.xlsx",
                            filterable: true,
                            allPages: true

                        },
                        rows: viewModel
                    };

                    $("#example").remove();
                    $('#icdrpt_grid').append('<div id="example" style="position:relative;" class="k-content"><table id="grid1"  data-bind="source: gridRows" style="position:relative;overflow:scroll;width:100%"></table></div>');
                    var timeEditGrid = $("#grid1").kendoGrid(configuration).data("kendoGrid");
                    kendo.bind($("#grid1"), viewModel);
                 
                                    },

                error: function (er) {
                    $("#display_loading").hide();
                    $('#refresh').show();
                 //   $("#btnExport").show();
                    $("#clear").show();
                    alert(er)
                    console.log(er)
                }
            });
            }
            return false;
            });
   
    }); 

    function listclear() {
        try {
             
            $('#frm_SalesReturnreport').find('input:text').val('');
            $('#icdrpt_grid').empty();
            var role = getlocalStorage("orgn_level");
            if (role == "ORG_PF") {
                $("#cmb_RIBelongform").data("kendoComboBox").value("");
                $("#cmb_FPOBelongform").data("kendoComboBox").value("");
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    } 

</script>
<style>
    .k-footerTemplate {
        text-align: right;
    }
</style>